.ambient_dia_1
aula14b/.pytest_cache
aula14b/__pycache__
aula14b/elevator_system/__pycache__
aula14b/tests/__pycache__/
aula14b/elevator_system/__pycache__/
aula14b/elevator_system/displays/__pycache__/