p {
  border: 1px solid black;
  height: 100px;
  padding-top: 10px;
  text-align: center;
}

div {
  border: 1px solid black;
  height: 100px;
  margin-bottom: 20px;
  padding-top: 10px;
  text-align: center;
}

span {
  border: 1px solid black;
  height: 100px;
  padding-top: 10px;
  text-align: center;
}

p.lenda {
  border: 5px solid red;
}